{% extends "base.html" %}

{% block content %}
<div class="container mt-5"> <!-- Added container and top margin -->
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4 text-center">{{ journal_entry.title }}</h1>
            <p class="text-center">Posted by {{ journal_entry.author.username if journal_entry.author else 'Unknown' }} on {{ journal_entry.date_posted.strftime('%Y-%m-%d') }}</p>
            <hr>

            {% if journal_entry.image_file %}
                <img src="{{ url_for('static', filename='images/' ~ journal_entry.image_file) }}" alt="{{ journal_entry.title }}" class="img-fluid mb-3">
            {% endif %}

            <p>{{ journal_entry.content }}</p>

            {% if current_user.is_authenticated %}
            <div class="d-flex justify-content-between mt-4">
                <a href="{{ url_for('main.journal_entries') }}" class="btn btn-secondary">Back to My Entries</a>

                {% if journal_entry.author == current_user %}
                <div>
                    <a href="{{ url_for('main.edit_journal_entry', entry_id=journal_entry.id) }}" class="btn btn-edit">Edit</a>
                    <form method="POST" action="{{ url_for('main.delete_journal_entry', entry_id=journal_entry.id) }}" style="display: inline;">
                        {{ form.csrf_token }}
                        <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this entry?');">Delete</button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% else %}
                <div class="mt-4 text-center">
                    <a href="{{ url_for('main.home') }}" class="btn btn-primary">Go to Home</a>
                    <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-secondary">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
